/* @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    src: local('Inter'),
        local('Inter-Regular'),
        url('Inter-Regular.ttf') format('truetype');
} */

@font-face {
    font-family: 'Inter';
    src: local('Inter'),
        url('static/Inter-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --pico-font-family-sans-serif: "Inter", system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--pico-font-family-emoji);
    --pico-font-size: 87.5%;
    /* Original: 100% */
    --pico-line-height: 1.25;
    /* Original: 1.5 */
    --pico-spacing: 1.5rem;
    /* Original: 1rem */
    --pico-form-element-spacing-vertical: 0.5rem;
    /* Original: 1rem */
    --pico-form-element-spacing-horizontal: 1.0rem;
    /* Original: 1.25rem */
    --pico-border-radius: 0.375rem;
    /* Original: 0.25rem */
    --pico-border-width: 1px;
}


@media (min-width: 576px) {
    :root {
        --pico-font-size: 87.5%;
        /* Original: 106.25% */
    }
}

@media (min-width: 768px) {
    :root {
        --pico-font-size: 87.5%;
        /* Original: 112.5% */
    }
}

@media (min-width: 1024px) {
    :root {
        --pico-font-size: 87.5%;
        /* Original: 118.75% */
    }
}

@media (min-width: 1280px) {
    :root {
        --pico-font-size: 87.5%;
        /* Original: 125% */
    }
}

@media (min-width: 1536px) {
    :root {
        --pico-font-size: 87.5%;
        /* Original: 131.25% */
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    --pico-font-weight: 600;
    /* Original: 700 */
}

article {
    border: 1px solid var(--pico-muted-border-color);
    /* Original doesn't have a border */
    border-radius: calc(var(--pico-border-radius) * 2);
    /* Original: var(--pico-border-radius) */
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

/* So that the header background doesn't cut off corners */
article>footer {
    border-bottom-left-radius: calc(var(--pico-border-radius) * 2);
    border-bottom-right-radius: calc(var(--pico-border-radius) * 2);
}

/* So that the footer background doesn't cut off corners */
article>header {
    border-top-left-radius: calc(var(--pico-border-radius) * 2);
    border-top-right-radius: calc(var(--pico-border-radius) * 2);
}

.grid {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .grid>.span-2 {
        grid-column: span 2;
    }

    .grid>.span-3 {
        grid-column: span 3;
    }

    .grid>.span-4 {
        grid-column: span 4;
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.lucide-loader-pinwheel {
    animation: spin 2s linear infinite;
    display: none
}

.htmx-request>.lucide-loader-pinwheel {
    display: inline-block;
}

.lucide-circle-arrow-right {
    display: inline-block;
}

.htmx-request>.lucide-circle-arrow-right {
    display: none;
}