{#def #}
<details>
    <summary class="outline contrast" role="button">Advanced Settings</summary>
    <div class="grid">
        <div>
            <label>Model</label>
            <select name="model" aria-label="Model">
                <option>gpt-35-turbo</option>
                <option>gpt-4</option>
            </select>
            <label>Temperature</label>
            <input name="temperature" type="range" value="0" min="0" max="1" step="0.1">
        </div>
        <div>
            <div style="height: 36px">
                <label>
                    <input name="collect_payload" type="checkbox" role="switch">
                    Collect Payload
                </label>
            </div>
            {# <label>
                <input name="status_code" type="checkbox" role="switch">
                Include HTTP Status Code in Response
            </label> #}
            <label>
                <input name="ai_validation" type="checkbox" role="switch">
                AI Validation
            </label>
        </div>
    </div>
</details>