{#def type="primary"#}

<span style="
            display: inline-block;
            padding: 0.5em 1em;
            font-size: 14px;
            font-weight: bold;
            color: #ffffff;
            background-color: #007bff;
            border-radius: 0.25em;
        ">
    {{ content }}
</span>