{#def user, projects, chart=None #}

<main class="container">
    <br>
    <section style="display:flex;justify-content:space-between">
        <h1 style="display:inline-flex;align-items:center">

            <span>Dashboard</span>
        </h1>
        <div>
            <button class="contrast" onclick="modal.showModal()" style="display:inline-flex;align-items:center">
                <Icon name="plus" size="15" />
                <span style="margin-left: 5px">Create Function</span>
            </button>
        </div>
    </section>
    <section class="grid">
        <Tile title="Credits" value={user.credits_avail - user.credits_used} capacity={user.credits_avail}
            icon="ticket" />
        <Tile title="Invocations" value={user.invocations} icon="sigma" />
        {% set latency = ((user.latency * 1000) | int | string) + "ms" %}
        <Tile title="Latency" value={latency} icon="timer" />
        {% set success = ((user.success * 100) | int | string) + "%" %}
        <Tile title="Success" value={success} icon="check" />
    </section>
    {% if chart %}
    <section class="grid">
        <article>
            {{ chart }}
        </article>
    </section>
    {% endif %}
    <Projects projects={projects} />
    <Modal />
</main>

<script>
    function copy(elementId) {
        var textToCopy = document.getElementById(elementId);
        textToCopy.select();
        textToCopy.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the textarea
        document.execCommand("copy");

        // Alert the copied text
        alert("Copied the text: " + textToCopy.value);
    }
</script>