<header class="container-fluid"
    style="padding:0; border-bottom: 1px solid var(--pico-card-border-color);position:sticky;top:0;background-color: var(--pico-background-color)">
    <nav class="container" style="">
        <ul>
            <li>
                <a href="/"><img src="/static/img/caipi.svg" width="36" /></a>
            </li>
            <li>
                <h4 style="margin-bottom: 0">caipi.ai</h4>
            </li>
        </ul>
        <ul>
            <li><a class="contrast" href="#features">Features</a></li>
            <li><a class="contrast" href="#demo">Demo</a></li>
            <li><a class="contrast" href="#pricing">Pricing</a></li>
            <li><a href="/login"><button style="margin-left: 6px" class="contrast">Login</button></a></li>
        </ul>
    </nav>
</header>