{#def invocations #}

<section id="table">
    <article>
        <div style="display:flex;justify-content:space-between;font-weight:bold">
            <span style="width:29%">Timestamp</span>
            <span style="width:16%">Credits</span>
            <span style="width:16%">Latency</span>
            <span style="width:16%">Status Code</span>
        </div>
        {% for invocation in invocations %}
        <hr />
        <details style="margin:0">
            <summary style="display:flex;justify-content:space-between">
                <span style="width:29%">
                    {{ invocation.created.replace(tzinfo=None).strftime('%Y-%m-%d %H:%M:%S') }}
                </span>
                <span style="width:16%">{{ invocation.n_credits_used }}</span>
                <span style="width:16%">{{ invocation.latency_sec }}s</span>
                <span style="width:16%">{{ invocation.status_code }}</span>
            </summary>
            {% if invocation.request %}
            <div class="grid">
                <div>
                    <h5>Request</h5>
                    <ul>
                        {% for key, value in invocation.request.items() %}
                        <li><strong>{{ key }}:</strong> {{ value | truncate(500, True, '...') }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h5>Response</h5>
                    <ul>
                        {% for key, value in invocation.response.items() %}
                        <li><strong>{{ key }}:</strong> {{ value | truncate(500, True, '...') }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% else%}
            <p>Enable Payload logging to view the details.</p>
            {% endif %}
        </details>
        {% endfor %}
    </article>
</section>