<header class="container-fluid" style="padding:0; border-bottom: 1px solid var(--pico-card-border-color);">
    <nav class="container">
        <ul>
            <li>
                <a href="/app"><img src="/static/img/caipi.svg" width="36" /></a>
            </li>
            <li>
                <h4 style="margin-bottom: 0">caipi.ai</h4>
            </li>
        </ul>
        <ul>
            <li><a class="contrast" href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>