<header class="container" style="padding: 0;">
    <nav>
        <ul>
            <li>
                <a href="/app"><img src="/static/img/caipi.svg" width="36" /></a>
            </li>
            <li>
                <h4 style="margin-bottom: 0">caipi.ai</h4>
            </li>
        </ul>
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>