{#def prefix, value="", dtype="str" #}

{% set j2p = {"Text": "str", "Number": "float", "Boolean": "bool"} %}
{% set dtype = j2p[dtype] if dtype in j2p else dtype %}
{% set opts = ["str", "int", "float", "bool", "list"] %}

<fieldset role="group" style="margin-bottom: 10px">
    <input required name="{{ prefix }}_name" value="{{ value }}" required>
    <select name="{{ prefix }}_dtype">
        {% for opt in opts %}
        <option {% if opt==dtype %}selected{% endif %}>{{ opt }}</option>
        {% endfor %}
    </select>
</fieldset>