{#def projects #}
<section id="table">
    <article style="padding:7px 0 0 0" class="overflow-auto">
        <table class="striped">
            <thead>
                <tr>
                    {% set cols = ["Name", "URL", "Invocations", "Credits", "Latency", "Success"] %}
                    {% for col in cols %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>
                        <a class="contrast" href="/app/projects/{{ project.id }}" hx-boost="true">
                            {{ project.name }}
                        </a>
                    </td>
                    <td>
                        <a href="#" onclick="copy(event, 'https://caipi.ai/api/{{ project.id }}')">
                            <Icon name="copy" size="20" />
                        </a>
                    </td>
                    <td>{{ project.n_invocations }}</td>
                    <td>{{ project.n_credits_used }}</td>
                    <td>{{'%0.2f' % project.latency_sec|float}}s</td>
                    <td>{{ (project.success_rate * 100)|int }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
</section>