{#def projects #}
<section id="table">
    <article style="padding:7px 0 0 0">
        <table class="striped">
            <thead>
                <tr>
                    {% set cols = ["Name", "URL", "Invocations", "Credits", "Latency", "Success"] %}
                    {% for col in cols %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <TableRow project={project} />
                {% endfor %}
            </tbody>
        </table>
    </article>
</section>