{#def title="caipi.ai" #}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/pico.2.0.6.lime.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/htmx.1.9.11.min.js"></script>
</head>

<body>
    {{ content }}
</body>

</html>