<Base title="caipi.ai - Create, Monitor & Test AIPIs">
<header class="container-fluid"
    style="padding:0; border-bottom: 1px solid var(--pico-card-border-color);position:sticky;top:0;background-color: var(--pico-background-color)">
    <nav class="container" style="">
        <ul>
            <li>
                <a href="/app"><img src="/static/img/caipi.svg" width="36" /></a>
            </li>
            <li>
                <h4 style="margin-bottom: 0">caipi.ai</h4>
            </li>
        </ul>
        <ul>
            <li><a class="contrast" href="#features">Features</a></li>
            <li><a class="contrast" href="#demo">Demo</a></li>
            <li><a class="contrast" href="#pricing">Pricing</a></li>
            <li><a href="/login"><button class="contrast">Login</button></a></li>
        </ul>
    </nav>
</header>

<main class="container">
    <section id="hero" style="padding: 180px 0; text-align: center">
        <hgroup>
            <h1 style="font-size:56px;font-weight:bold;margin-bottom:24px">Your Shortcut to AI Integration</h1>
            <p style="font-size:22px;margin-bottom: 32px">Introducing AIPIs: Single purpose programmatic functions
                outsourced to an AI
                model.
            </p>
        </hgroup>
        <a href="/app"><button class="contrast" style="padding: 12px 32px; font-size: 18px">Get Started</button></a>
    </section>

    <section id="features">
        <hgroup style="text-align: center;padding:64px">
            <h1 style="font-size:36px">Features</h1>
            <h3>Built for Developers</h3>
        </hgroup>
        <div class="grid">
            <Feature title="Quick Deployment" icon="zap">
                Create and deploy AIPIs in less than a minute with simple instructions and customizable parameters.
            </Feature>
            <Feature title="Seamless Integration" icon="blocks">
                Easily integrate AIPIs into your existing applications via HTTP requests with type-safe responses.
            </Feature>
        </div>
        <div class="grid">
            <Feature title="Comprehensive Monitoring" icon="activity">
                Track usage metrics, invocations, credits, latency, and success rates with our intuitive dashboard.
            </Feature>
            <Feature title="Advanced Configuration Testing" icon="settings">
                Test and compare different AIPI configurations to optimize performance in real-world scenarios.
            </Feature>
        </div>
        <div class="grid">
            <Feature title="Extensive Model Support" icon="library-big">
                Leverage LLM models from top providers like Anthropic and OpenAI for diverse AI functionalities.
            </Feature>
            <Feature title="Pro Account Benefits" icon="gem">
                Access more credits, detailed request and response storage, and AI-driven response quality assessment
                with a Pro account.
            </Feature>
        </div>
    </section>

    <section id="demo">
        <h2>See Caipi.ai in Action</h2>
        <video src="demo.mp4" controls></video>
    </section>

    <section id="pricing">
        <blockquote>"Devs have left the chat"</blockquote>
        <p>Developers often find working with conversational AI models challenging due to their open-ended nature.
            caipi.ai simplifies this process, allowing developers to build, test, and monitor AI-powered APIs
            without the complexities of traditional chat models.</p>
    </section>
</main>

<footer class="container">
    <small>
        <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a>
    </small>
</footer>
</Base>