<Base title="Terms & Conditions">

<Header />

<main class="container">
    <p>These Terms and Conditions ("Terms") govern your access to and use of the caipi.ai website and services provided
        by
        Tensora GmbH. By accessing or using the Service, you agree to be bound by these Terms.</p>

    <h2>Definitions</h2>
    <ol>
        <li><b>AIPI (AI + API)</b>: Refers to an interface designed to enable specific artificial intelligence
            functionalities within user applications, allowing developers to integrate single-purpose AI tasks via HTTP
            requests.</li>
        <li><b>LLM (Large Language Model)</b>: Advanced AI systems capable of understanding and generating human-like
            text
            based on the input they receive. These models are developed and maintained by third-party providers and
            integrated into various applications.</li>
        <li><b>AUP (Acceptable Use Policy)</b>: A set of rules and guidelines that specify how the services provided by
            caipi.ai and its third-party LLM providers can be used, aiming to prevent misuse and ensure the security and
            integrity of the services.</li>
    </ol>

    <h2>User Accounts</h2>
    <ol>
        <li><b>Account Creation</b>: To use caipi.ai, users must create an account via GitHub authentication. This
            process
            involves linking a GitHub account, which allows caipi.ai to streamline user verification and manage account
            credentials securely.</li>
        <li><b>Account Responsibilities</b>: Users are responsible for maintaining the confidentiality of their account
            credentials and for all activities that occur under their account. Users should ensure that their GitHub
            account
            security settings are robust and notify caipi.ai immediately of any unauthorized use of their account.</li>
        <li><b>Account Termination</b>: Users can terminate their caipi.ai account at any time through the account
            settings.
            caipi.ai reserves the right to suspend or terminate accounts if users violate the Terms & Conditions,
            including
            but not limited to breaches of the Acceptable Use Policy or unauthorized use of the service. In such cases,
            users will be notified via their registered email address and given an opportunity to respond or remedy the
            situation before account termination.</li>
    </ol>

    <h2>Use of Services</h2>
    <ol>
        <li><b>Prohibition of Personal Data</b>: Users must not use data that contains any form of personal information
            that
            can be used to identify an individual, whether directly or indirectly. This includes, but is not limited to,
            names, email addresses, phone numbers, home addresses, IP addresses, and any form of personally identifiable
            information as defined under GDPR and other applicable data protection laws.</li>
        <li><b>Acceptable Use Policies (AUP)</b>: Users are required to adhere to the AUPs provided by LLM providers
            integrated into caipi.ai. These policies outline permissible and prohibited actions to maintain the
            integrity
            and legality of the services. Non-compliance with these policies can lead to corrective actions against the
            user's account, including potential suspension or termination. Users agree to follow these AUPs by using the
            services provided by caipi.ai, and it is the user’s responsibility to review and understand these policies
            regularly.</li>
    </ol>

    <h2>Intellectual Property Rights</h2>
    <ol>
        <li><b>Property of caipi.ai</b>: caipi.ai and its licensors retain all intellectual property rights in the
            Services,
            including but not limited to the website, APIs, software, logos, and any proprietary algorithms or models.
            These
            Terms do not grant you any rights to use caipi.ai's intellectual property except as expressly permitted.
            This
            data will not be published.</li>
        <li><b>Improving the Service</b>: By using our Services, you grant caipi.ai a worldwide, non-exclusive,
            royalty-free, sublicensable, and transferable license to use, reproduce, distribute, display, and perform
            the
            Content you submit or generate through the Services, solely for the purpose of providing and improving our
            Services.</li>
        <li><b>User-Generated Content</b>: You retain ownership of any intellectual property rights in the Content you
            submit or generate through the Services. However, you acknowledge that when using third-party LLM providers,
            the
            ownership of generated data may be subject to their respective Acceptable Use Policies (AUPs).</li>
    </ol>

    <h2>Privacy and Data Protection</h2>
    <ol>
        <li><b>Data Collection and Use</b>: caipi.ai collects data necessary for providing and enhancing our services,
            including user identification data linked through GitHub, project data, and API usage statistics. This data
            is
            used to manage accounts, improve service functionalities, and assist users in their project development.
        </li>
        <li><b>Data Retention Policies</b>: Data is retained only as long as necessary to fulfill the purposes outlined
            in
            this policy, comply with our legal obligations, and resolve disputes. Specifically, API invocation data is
            stored for a period of 30 days to monitor service usage and performance.</li>
        <li><b>Compliance with GDPR</b>: caipi.ai commits to protecting user data in accordance with the General Data
            Protection Regulation (GDPR). Users have the right to access their personal data, request corrections, or
            deletion, and restrict or object to our processing of their data. We ensure that data transfers outside the
            EU
            are handled with adequate levels of protection.</li>
        <li><b>Security Measures</b>: We implement appropriate technical and organizational measures to protect user
            data
            against unauthorized or unlawful processing and against accidental loss, destruction, or damage.</li>
    </ol>

    <h2>Payment, Refunds, and Cancellation Policy</h2>
    <ol>
        <li><b>Payment Procedures</b>: Users subscribed to Pro accounts are billed on a monthly or annual basis,
            depending
            on the chosen subscription plan. Payment information must be provided at the time of subscription, and users
            authorize caipi.ai to automatically charge the specified payment method for renewals unless cancelled.</li>
        <li><b>Refunds</b>: Refunds may be issued at the discretion of caipi.ai and primarily in cases where there has
            been
            a demonstrable failure in service delivery not attributed to user error or non-compliance with our terms.
            Users
            wishing to request a refund should contact our support team with detailed information about the issue.</li>
        <li><b>Cancellation Process</b>: Users can cancel their Pro account subscription at any time via their account
            settings. Upon cancellation, the account will not be charged for subsequent billing periods, but no refunds
            will
            be issued for the remaining portion of the current billing period unless specified by our refund policy.
        </li>
        <li><b>Transparency and Communication</b>: We commit to maintaining transparent communication with our users
            regarding any changes to payment terms or billing procedures. Users will receive advance notice of any such
            changes and have the opportunity to review and respond as necessary.</li>
    </ol>

    <h2>Service Availability and Downtime</h2>
    <ol>
        <li><b>Service Reliability</b>: caipi.ai strives to maintain a high level of service availability and
            reliability
            but does not guarantee uninterrupted service. We continuously work to improve and optimize our platform to
            meet
            the needs of our users.</li>
        <li><b>Lack of Uptime Guarantees</b>: Users acknowledge that occasional interruptions or downtime may occur due
            to
            maintenance, updates, or unforeseen issues. caipi.ai does not provide uptime guarantees, and no financial
            compensation will be provided for service interruptions.</li>
        <li><b>Reporting Issues and Getting Support</b>: Users can report service-related issues and request support
            through
            our dedicated support channels, which are available via the platform or directly through email. We
            prioritize
            timely and effective communication to resolve user concerns and restore service functionality.</li>
    </ol>

    <h2>Limitation of Liability</h2>
    <ol>
        <li><b>Disclaimer of Warranties</b>: caipi.ai provides its services on an "as is" and "as available" basis
            without
            any warranties, express or implied, including but not limited to the implied warranties of merchantability,
            fitness for a particular purpose, and non-infringement. Users acknowledge that they use caipi.ai at their
            own
            risk.</li>
        <li><b>Reliability of AI-Generated Outputs</b>: While we strive to provide high-quality AI-generated outputs,
            caipi.ai does not warrant the accuracy, reliability, or completeness of outputs produced by AIPI
            configurations.
            These outputs depend on various factors, including but not limited to the quality of user inputs and
            external
            LLM provider algorithms.</li>
        <li><b>Limitation of Liability</b>: caipi.ai, its affiliates, officers, employees, agents, partners, and
            licensors
            are not liable for any direct, indirect, incidental, special, consequential, or exemplary damages, including
            but
            not limited to damages for loss of profits, goodwill, use, data, or other intangible losses resulting from
            the
            use of or inability to use the service.</li>
        <li><b>Exclusion of Certain Uses</b>: Users must not use caipi.ai for emergency or life-critical purposes.
            caipi.ai
            is not designed, intended, or authorized for use in environments requiring fail-safe performance or where
            the
            failure of the service could lead directly to death, personal injury, or severe physical or environmental
            damage.</li>
    </ol>

    <h2>Dispute Resolution and Governing Law</h2>
    <ol>
        <li><b>Dispute Resolution</b>: In the event of a dispute, users are encouraged to contact caipi.ai first to seek
            a
            resolution. If the dispute cannot be resolved through direct negotiation, it will be required to be
            submitted to
            binding arbitration under the Rules of Arbitration of the German Institution of Arbitration e.V. (DIS).</li>
        <li><b>Arbitration Location and Process</b>: The arbitration will be conducted in Berlin, Germany, in the
            English
            language, and the decision of the arbitrator will be considered final and binding upon the parties.</li>
        <li><b>Governing Law</b>: These Terms & Conditions are governed by and construed in accordance with the laws of
            the
            Federal Republic of Germany, without giving effect to any principles of conflicts of law.</li>
        <li><b>Global Application</b>: While the governing law is German, caipi.ai services are accessible globally, and
            users are responsible for compliance with local laws, to the extent that local laws are applicable.</li>
    </ol>

    <h2>Future Changes and Modifications</h2>
    <ol>
        <li><b>Adaptability to Change</b>: Caipi.ai is continuously evolving to integrate new technologies and features
            that
            enhance our services. As such, our Terms & Conditions may also need to be updated to reflect these
            advancements
            and changes in legal or regulatory requirements.</li>
        <li><b>Notification of Changes</b>: Any changes or modifications to these Terms & Conditions will be
            communicated to
            users through our platform. Users will receive notifications either via email or through a prominent notice
            on
            our service interface, ensuring they are aware of any significant updates.</li>
        <li><b>User Responsibility</b>: It is the responsibility of users to review the updated Terms & Conditions
            periodically. Continued use of caipi.ai after any such changes shall constitute your consent to such changes
            and
            agreement to be bound by the updated terms.</li>
        <li><b>Feedback and Inquiries</b>: Users are encouraged to provide feedback on any proposed changes. caipi.ai
            values
            user input and aims to consider it in the ongoing development of our policies and services.</li>
    </ol>

    <h2>Third-Party Services</h2>
    <ol>
        <li><b>Relationship with Third-Party Providers</b>: caipi.ai utilizes various third-party LLM providers to
            enable
            certain functionalities within our services. These providers have their own Terms of Use and Acceptable Use
            Policies (AUPs) that are applicable when their services are used.</li>
        <li><b>Compliance with Third-Party Policies</b>: By using caipi.ai, users agree to comply with the AUPs and
            terms
            set forth by third-party LLM providers. It is crucial for users to review these policies to ensure their use
            of
            caipi.ai remains compliant with all applicable rules and regulations.</li>
        <li><b>Links to Third-Party Policies</b>: For ease of access, caipi.ai will provide links to the AUPs and terms
            of
            our third-party providers on our platform. Users are encouraged to follow these links to familiarize
            themselves
            with the terms under which the third-party services are offered.</li>
        <li><b>Liability for Third-Party Services</b>: caipi.ai does not accept any responsibility or liability for the
            content, accuracy, or function of services provided by third-party providers. The inclusion of a link to a
            third-party website does not imply endorsement by caipi.ai.</li>
    </ol>

</main>

<Footer />

</Base>